<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJq-2ij8Ue-m_PjiXyb5_3t77BGtIvZTs</string>
	<key>GCM_SENDER_ID</key>
	<string>90618087933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atelier4NZaiziIir5g2</string>
	<key>PROJECT_ID</key>
	<string>atelier-4-n-zaizi-iir5g2</string>
	<key>STORAGE_BUCKET</key>
	<string>atelier-4-n-zaizi-iir5g2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90618087933:ios:52c26a533c6c71c4d13194</string>
</dict>
</plist>